@import url('../../assets/styles/styles.css');

.profile-form > input {
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--text-color);
}

.container-name {
  margin-top: 24px;
}

.container-email {
  margin-top: 24px;
}

.profile-details {
  margin-top: 24px;
  font-size: 18px;
}

.container-span {
  color: var(--color-primary-dark);
  cursor: pointer;
}

.profile-cta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
}

.profile-signout {
  color: var(--color-error);
  cursor: pointer;
}

.container-span:hover,
.profile-signout:hover {
  text-decoration: underline;
}

.blogs-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.blogs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-blogs {
  text-align: center;
  margin-top: 24px;
}

.no-blogs p {
  margin-bottom: 12px;
}

.no-blogs a {
  color: var(--color-primary);
  text-decoration: none;
}
