@import url('../../assets/styles/styles.css');

.prompt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.prompt-text h2 {
  margin: 0;
}

.prompt-text span {
  color: var(--color-dark-grey);
}

.prompt-cta Link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 480px) {
  .prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  .prompt-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
