:root {
  /*Primary */
  --color-primary: #223160;
  --color-primary-dark: #152149;
  --color-primary-light: #d7def4;
  --color-secondary: #aeede0;
  --color-secondary-dark: #61dbc2;
  --color-secondary-light: #dcf8f2;

  /*Supporting*/
  --color-error: #d40000;
  --color-warning: #ffc700;
  --color-success: #008a57;

  /*Grey Scale*/
  --color-black: #1a1a1a;
  --color-white: #ffffff;
  --color-grey: #d9d9d9;
  --color-light-grey: #f9f9f9;
  --color-dark-grey: #646464;

  /* Typography*/
  --text-color: var(--color-black);

  --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

h2,
h1,
h3,
h4 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
